@charset "UTF-8";

* {  margin: 0;
     padding: 0;
     font-family: Old Newspaper;
     scroll-behavior: smooth;}

@font-face {font-family: Old Newspaper;
    src: url(fontes/oldnewspapertypes/OldNewspaperTypes.ttf);}

:root{
     --color0: #444;
     --color1: #252627;
     --color2: #164C45;
     --color3: #16232E;
     --color4: #ff0000;
     --color5: #b91414;
     --color6: #6d0000;
     --color7: #069;
     
}


body{background-color: #ffffff;
     font-size: 20px;
     color: #FBF2E2;
     padding: 20px;
     display: flex;
     min-height: 100vh;
     gap: 30px;
     list-style-type: none;
     display: flex;
     min-height: 100vh;
     gap: 30px;}

main{display: block;
     margin-left: 25%;
     width: 830px;
     height: fit-content;
     padding: 80.6px 0px 1px 0px;}

h1{  font-size: 35px;
     text-align: center;
     background-color: var(--color3);
     color: #ffffff;
     border-radius: 10px;
     padding: 10px;}

img{ width: 790px;
     margin: 0 auto;
     border-radius: 5px;
     min-width: 350px;
     max-width: 900px;
     display: flex;}


h2{  text-align: center;
     font-size: 25px;
     color:  #ffffff;
     background-color: var(--color3);
     border-radius: 10px;}

h3{  text-align: center;}

p{   text-align: justify;
     color: #252627;
     font-size: 18px;
     text-align: initial;
     font-weight: 600;
     padding-left: 10px;}

a{   color: var(--color4);
     text-decoration: none;}


.menu{   margin: 20px;
         position: absolute;
         line-height: 15px;
         top: 81.9px;
         left: 15px;
         width: 300px;
         text-align: center;
         border-style: groove;
         justify-content: center;
         list-style: none;
         border-radius: 5px;}

.menu ul {
            list-style: none;
            padding: 0;
            margin: 0;}

.menu li a:hover {background-color: var(--color4);}

.menu a{
             color: var(--color3);
             padding: 6px;
             font-size: 14px;
             font-weight: 900;
             border-left: 4px solid var(--color0);
             }


.menu li a{
       display: block;
       padding: 8px; 
       border-left: 4px solid var(--color0);
       text-decoration: none;
       box-shadow: 2px 2px 5px #ccc; 
       color: var(--color5); 
       cursor: pointer;}


.menu li a:hover{
       display: block;
       padding: 8px;
       border-left: 4px solid #444;
       text-decoration: none; 
       box-shadow: 2px 2px 5px #ccc;
       color: var(--color6);
       cursor: pointer;}

.menu li ul a:active{color: var(--color4);}



.menu li a:hover {
       border-left:4px solid var(--color7);
       background: var(--color3);
       border-radius: 5px;}

 
section{ 
       border-style: groove;
       border-radius: 5px;
       padding: 15px;}

.menu-h {    
           display: flex;
           background-color: var(--color3);
           position: fixed;
           top: 0;
           left: 0;
           height: 80px;
           width: 100%;
           justify-content: center;
           z-index: 1;
           
}
        
.menu-h ul {max-width: 100%;
            list-style: none;}
        
.menu-h ul li { text-align: center;
                background-color: var(--color3);}
        
.menu-h ul li a {    
          display: inline-block;
          text-decoration: none;
          text-align: center;
          padding: 20px;
          transition: 0.5s;
          color: var(--color6);
          font-size: 16px;
          font-weight: 900;
          line-height: 40px;}

.menu-h li a:active{color: var(--color4);}
        
.menu-h li a:hover { 
                    background-color: var(--color2);}

li > ul{display: none;}

li:hover > ul{display: block;
                    line-height: 35px;}

li{line-height: 35px;}

nav.menu-h ul.menu-h ul li a{
     font-size: 12.6px;
     padding: auto;
     width: 86.9px;}

nav.menu-h ul.menu-h ul li a{line-height: 20px;}